.shopping-main-box {
  display: flex;
  justify-content: space-between;
}
.shopping-main-box > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 110px;
  background-color: #fff;
  .number {
    margin-right: 35px;
    display: flex;
    flex-direction: column;
  }
  .photo {
    width: 75px;
    height: 75px;
    border-radius: 5px;
    margin-left: 25px;
    transition: 0.5s;
    box-sizing: border-box;
  }
}
.shopping-main-box > div:hover {
  .photo {
    background-color: #cccccc;
    transition: 0.5s;
  }
}
